.post{
  width: 100%;
  margin-bottom: 24px;
  border: 1px solid #F4F4F4;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: #0000000A 0px 2px 6px;
}
.head{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.title{
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}
.info{
  padding: 24px 16px 32px;
}
.text{
  margin: 32px 0;
  font-size: 24px;
  line-height: 32px
}
.footer{
  display: flex;
  justify-content: right;
  margin-top: 24px;
}

